body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Vazirmatn', sans-serif;
}
nav{
    background-color: #02C0D1;
}
.logoViajesChile{
    text-decoration: none;
    color: white;
    margin: 0 10%;
}
.iconoNav{
    height: 30px;
    width: 30px;
}
.seccion1{
    background-color: black;
    color: white;
}
.logosDescripcion{
    background-color: #02C0D1;
    font-size: 25px;
}
.seccion2{
    background-color: black;
    color: white;
}
.fotosDestacados{
    width: 300px;
    height: 200px;
}
.card-body{
    background-color: #02C0D1;
}
.seccion3{
    background-color: black;
    color: white;
}
footer{
    background-color: #02C0D1;
    color: white;
}
.iconosFooter{
    font-size: 25px;
    text-align: end;
}